*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 75px;
    background-color: #5f0f40;
}

.nav-item{
    float: right;
    display: flex;
    margin-right: 19px;
}

.nav-item .item-menu{
    list-style: none;
    margin: 19px 0 0 19px;
    clear: both;
}

.nav-item .item-menu a{
    text-decoration: none;
    color: #f1faee;
    clear: both;
}

.back-btn_li{
    float: left;
    padding: 22px 0 0 19px;
    list-style: none;
}

.btn_Back{
    color: #f0efeb;
}

.btn_Back i{
    font-size: 22px;
}

.btn_Back i:hover{
    color: #e5e5e5;
    transform: scale(1.1);
    transition: all 0.5s;
}

.btn_Back:hover{
    color: #e5e5e5;
}

.info{
    float: right;
    clear: both;
    width: 400px;
    height: 682px;
    background-color: #f5f3f4;
    border-left: 1px solid #151515;
}

.img_div{
    margin: 19px 0 0 130px;
}

.info div img{
    border: 1px solid #151515;
    padding: 19px;
    font-size: 75px;
    border-radius: 19px;
    background-color: #e5e5e5;
    width: 150px;
    height: 150px;
}

.menu-item{
    float: right;
    margin: 50px 120px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li{
    list-style: none;
}

.menu-item li{
    margin: 19px 0 0 0;
    border: 1px solid #151515;
    padding: 9px;
    border-radius: 19px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.menu-item li a{
    color: #151515;
    text-decoration: none;
}

.the-Songs-I-D{
    width: 75%;
    height: 75px;
    background-color: #2a9d8f;
    border-radius: 19px;
    margin-top: 100px;
}

.my-activity{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../image/background-Image-User.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: border-box;   
}

.report-D-Link{
    width: 75%;
    height: 75px;
    background-color: #48bfe3;
    border-radius: 19px;
    margin-top: 50px;
}

.p-tag{
    float: right;
    margin: 19px 9px 0 0;
}

.my-Ads{
    width: 75%;
    height: 75px;
    background-color: #d90429;
    margin-top: 50px;
    border-radius: 19px;
}

.the-AmountOf-spanInfo{
    margin-right: 9px;
}

.dedicated-Pages{
    width: 75%;
    height: 75px;
    background-color: #f7ea00;
    border-radius: 19px;
    margin-top: 50px;
}

.my-Level{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 0 0 175px;
    flex-direction: column;
}

.my-Level span{
    padding: 9px;
}

body,#body-Admin_Panel{
    cursor: url("../../image/icons8-slide-up-32.png"),
    auto!important
    
}

.info div input{
    width: 90%;
}

.guest-Alert{
    display: flex;
    justify-content: center;
    height: 100px!important;
    flex-direction: column;
    align-items: center;
}

.badge_Alert{
    display: flex;
    flex-direction: row!important;
}

.badge_Alert a{
    margin-left: 19px;
}

.info div span{
    width: 30px;
    margin-left: -5px;
}

.info div span:hover{
    width: 100px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    
}

.info div span i{
    float: right;
}

.menu-item li{
    box-shadow: 9px 5px 25px 1px rgba(66, 66, 66, 1);
    border: none;
}

.menu-item span{
    margin-top: 100px;
}

.info div img{
    z-index: 1000!important;
}

.menu-item li:hover{
    box-shadow: 15px 13px 25px 7px rgba(84, 84, 84, 1);
    border-radius: 20px 20px 20px / 38px 38px 39px; 
    border: 2px inset #03071e;
    transition: all 0.5s ease-in-out;
}

.item-menu-li a i{
    margin-right: 0.5rem;
}

.item-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

#sign-out a{
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-out a i{
    font-size: 15px;
}

.item-menu-li:hover{
    border-bottom: 2px solid #0b090a;
    padding-bottom: .1rem;
}

.time{
    margin: 1.5rem 0 0 8.5rem;
}

.item-bars{
    margin-top: .5rem;
}

.item-bars i{
    font-size: 19px;
}